{% extends 'base.html' %}

{% block main %}
<div class="container w-45">
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for i in anime %}
        <a href="{%  url 'anime:view' i.id %}" class="text-decoration-none">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ i.image.url }}" class="card-img-top anime-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">Епізодів: {{ i.get_episodes_voiced_count }}/{{ i.episodes_count }}</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
</div>
{% endblock %}