.favourite-option {
    background-color: #FFDDC1;
}
.plans-option {
    background-color: #C1E1FF;
}
.watch-option {
    background-color: #D1FFB6;
}
.abandoned-option {
    background-color: #FFD1D1;
}