{% extends 'base.html' %}

{% block main %}
    <div class="container mt-5">
        <h2>Додати епізод</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Назва</label>
                <input type="text" class="form-control" id="name" name="name" maxlength="32" required>
            </div>
            <br>
            <div class="form-group">
                <label for="video">Відео</label>
                <input type="file" class="form-control-file" id="video" name="video" required>
            </div>
            <br>
            <div class="form-group">
                <label for="anime">Аніме</label>
                <select class="form-control" id="anime" name="anime" required>
                    {% for anime in animes %}
                        <option value="{{ anime.id }}">{{ anime.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="voice_acting_team">Команда озвучення</label>
                <select class="form-control" id="voice_acting_team" name="voice_acting_team" required>
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </form>
    </div>
{% endblock %}